@import '_var';

//font-scale
html {
    font-size: 18px;
}

$xs: 0.5rem;
$sm: 0.707rem;
$rp: 1rem;
$lp: 1.333rem;
$h6: 1.414rem;
$h5: 1.999rem;
$h4: 2.827rem;
$h3: 3.998rem;
$h2: 5.653rem;
$h1: 7.993rem;

//Variables
h1, h2, h4, h5, h6 {
    line-height: 1;
    color: $dark;
}

p {
    line-height: 1.5;
}

.w-h1 {
    @extend .font-headings;
    font-size: $h1;
    font-weight: 700;
    letter-spacing: 0;
    text-transform: uppercase;
}

.w-h2 {
    @extend .font-headings;
    font-size: $h2;
    font-weight: 700;
    letter-spacing: 0;
    text-transform: uppercase;
}

.w-h3 {
    @extend .font-headings;
    font-size: $h3;
    font-weight: 700;
    letter-spacing: 0;
}

.w-h4 {
    @extend .font-headings;
    font-size: $h4;
    font-weight: 700;
    letter-spacing: 0;
}

.w-h5 {
    @extend .font-headings;
    font-size: $h5;
    font-weight: 700;
    letter-spacing: 0;
}

.w-h6 {
    @extend .font-headings;
    font-size: $h6;
    font-weight: 700;
    letter-spacing: 0;
}

.w-p-l {
    @extend .font-paragraphs;
    font-size: $rp;
    font-weight: 400;
    letter-spacing: 0;
}

.w-p {
    @extend .font-paragraphs;
    font-size: $rp;
    font-weight: 400;
    letter-spacing: 0;
}

.w-menu {
    @extend .font-paragraphs;
    font-size: $rp;
    font-weight: 400;
    letter-spacing: 0;
}

.hero-h, .hero-p {
    color: white !important;
}

.hero-p{
    opacity: .8;
}