@import '_var';

//font-scale
html {
    font-size: 18px;
}

//For Desktop
$xs: 0.5rem;
$sm: 14px; //Original Value: 0.707rem
$rp: 1rem;
$lp: 1.333rem;
$h6: 1.414rem;
$h5: 1.999rem;
$h4: 2.827rem;
$h3: 3.998rem;
$h2: 5.653rem;
$h1: 7.993rem;

//For Laptop
/* Tablet styles */
@media (max-width: 1023px) {
    html {
        font-size: 16px;
    }

}

/* Mobile styles */
@media (max-width: 767px) {
    html {
        font-size: 16px;
    }

}

//Variables
h1,
h2,
h4,
h5,
h6 {
    line-height: 1;
    color: $dark;
}

p {
    line-height: 1.5;
}

.w-h1 {
    @extend .font-headings;
    font-size: $h1;
    font-weight: 700;
    letter-spacing: 0;
    text-transform: uppercase;
    color: inherit;
}

.w-h2 {
    @extend .font-headings;
    font-size: $h2;
    font-weight: 700;
    letter-spacing: 0;
    text-transform: uppercase;
    color: inherit;
}

.w-h3 {
    @extend .font-headings;
    font-size: $h3;
    font-weight: 700;
    letter-spacing: 0;
    color: inherit;
}

.w-h4 {
    @extend .font-headings;
    font-size: $h4;
    font-weight: 700;
    letter-spacing: 0;
    color: inherit;
}

.w-h5 {
    @extend .font-headings;
    font-size: $h5;
    font-weight: 700;
    letter-spacing: 0;
    color: inherit;
}

.w-h6 {
    @extend .font-paragraphs;
    font-size: $h6;
    font-weight: 700;
    letter-spacing: 0;
    color: inherit;
}

.w-p-l {
    @extend .font-paragraphs;
    font-size: $rp;
    font-weight: 400;
    letter-spacing: 0;
    color: inherit;
}

.w-p {
    @extend .font-paragraphs;
    font-size: $rp;
    font-weight: 400;
    letter-spacing: 0;
    color: inherit;
}

.w-menu {
    @extend .font-paragraphs;
    font-size: $rp;
    font-weight: 400;
    letter-spacing: 0;
    color: inherit;
}

.w-sub {
    @extend .font-paragraphs;
    font-size: $sm;
    font-weight: 700;
    letter-spacing: 0;
    text-transform: uppercase;
    color: inherit;
}

.u-lst .w-p {
    color: $dark;
    font-weight: 500;
}

footer {
    .w-p {
        color: white;
        text-align: center;
        font-size: $sm;
    }

    a {
        color: $primaryColor;
    }
}

