@import '_var';

html {
    scroll-behavior: smooth !important;
}

//banner
.full-height {
    height: 100vh !important;
    width: 100%;
}

.hero-section {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
}

.inner-container {
    vertical-align: middle;
    display: flex;
    justify-content: space-between;
    margin: 0 30px;

}

.half-height .header-section {
    height: calc(100vh - 44px) !important;
    display: flex;
    align-items: center;
}

//Content Width
.container {
    position: relative;
    max-width: 1220px;
    margin: 0 auto;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.fold .inner-container {
    vertical-align: middle;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    grid-column-gap: 48px;
    grid-row-gap: 48px;
    margin: 0 30px;
    height: auto;
    min-height: 100%;
    overflow: hidden;
}

.section{
    padding: 130px 0;
    position: relative;
}

.v-mid {
    vertical-align: middle;
}