@import '_var';

//banner
.full-height .hero-section {
    height: 100vh !important;
    width: 100%;
    display: flex;
    align-items: center;
}

.inner-container {
    vertical-align: middle;
    display: flex;
    margin: 0 40px;
}

.half-height .header-section {
    height: calc(100vh - 44px) !important;
    display: flex;
    align-items: center;
}

//Content Width
.container {
    position: relative;
    max-width: 1220px;
    margin: 0 auto;
    box-sizing: border-box;
    width: 100%;
}

.fold .inner-container {
    vertical-align: middle;
    display: flex;
    flex-wrap: nowrap;
    margin: 0 40px;
}

.section{
    margin: 130px 0;
}
.v-mid {
    vertical-align: middle;
}

//Spacers
.h-p-col {
    display: flex;
    flex-flow: column;
    grid-row-gap: 22px;
}

.btn-col {
    display: flex;
    flex-flow: column;
    grid-row-gap: 64px;
}

.sub-h-row {
    display: flex;
    flex-flow: column;
    grid-row-gap: 12px;
}

.hid-col {
    height: 5px;
    width: 100%;
}

.img-col {
    //TO BE UPDATED SOON
    height: 5px;
    width: 100%;
}

.reverse {
    flex-direction: row-reverse;
}

.flex-col {
    flex: 1;
}