//colors
$primaryColor: #EBA801;
$dark: #10113E;
$off-black: #171717;

//font-family
.font-headings {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.font-paragraphs {
    font-family: "Figtree", sans-serif;
    font-weight: 400;
    font-style: normal;
}