//colors
$primaryColor: #b721ff;
$black: #0D0D0D;
$off-black: #171717;

//font-family
.font-headings {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.font-paragraphs {
    font-family: "Figtree", sans-serif;
    font-weight: 400;
    font-style: normal;
}