//Imports
@use 'sass/_reset';
@use 'sass/_fonts';
@use 'sass/_global';
@use 'sass/_uikit';
@use 'sass/nav';
@import 'sass/_var';

//Individual Adjustments
.container.hero-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.hero-image-background {
    background-color: $dark;
    background-size: cover;
}

.cta-section {
    background-color: $dark;
    background-size: cover;
}

.our-process-section {
    background-color: #f5f5f5;
}

.img-col.form {
    background-color: white;
}
.fold {
    .w-p:not(.primary-button-2 .w-button-inner,.primary-button .w-button-inner, .u-lst .w-p){
        color: #414141;
    }

    .inner-container-101 .content-col{
        width: 90%;
    }
}

.about-section.section{
    padding-bottom: 40px;
}

.what-we-do-section.section{
    padding-top: 40px;
}

.inner-container-103{
    .sub-h-row:not(.content-box .sub-h-row){
        align-items: center; 
    } 
    .h-p-col {
        row-gap: 64px;
    }
    .w-h5 {
        opacity: 0.5;
    }
    .content-box .sub-h-row {
        grid-row-gap: 4px;
    }
}

.inner-container-101{
    .img-col {
        height: 686px;
        width: 70%;
        img {
            object-position: -44px;
        }
    }
}
.inner-container-102{
    .img-col {
        height: 686px;
        width: 160%;
    }
}

.inner-container-104 {
    .img-col{
        width: 82%;
    }
}

form label {
    display:none
}


.contact-us-section .container,
.contact-us-section .inner-container-105,
.inner-container-105 .img-col{
    overflow: unset;
}