//Imports
@use 'sass/_reset';
@use 'sass/_var';
@use 'sass/_fonts';
@use 'sass/_global';
@use 'sass/_uikit';
@use 'sass/nav';

html {
    scroll-behavior: smooth !important;
}

  //Individual Adjustments
.container.hero-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.hero-image-background {
    background-color: #06071e;
    background-size: cover;
}

.fold {
    .w-p:not(.primary-button .w-button-inner, .u-lst .w-p){
        color: #414141;
    }

    .inner-container-101 .content-col{
        width: 90%;
    }
}